/*Common*/

body {
    h1, h2, h3, h4 {
        margin-top: 1rem;
        margin-bottom: 1rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid lightgray;
        text-align: center;
    }
}

/* Users page */

.users-container {
    margin: 0 auto;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5vw;
    grid-row-gap: 3vh;
}

article {
    max-width: 350px;
    background: linear-gradient(71deg, #201323, #16071f, #2d1c33);
    border-radius: 15px;
    padding: 20px;

    font-weight: 600;
    color: white;
    font-size: 20px;

    a, button {
        background-color: #104547;
        cursor: pointer;
        text-align: center;
        display: inline-block;
        position: relative;
        text-decoration: none;
        color: white;
        font-size: 18px;
        padding: 20px;
        min-width: 150px;
        border-radius: 10px;
        overflow: hidden;
        transition: all 0.2s linear 0s;

        &:before {
            content: ">";
            display: flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 30px;
            background-color: #226669;
            border-radius: 0 50% 50% 0;
            transform: scale(0, 1);
            transform-origin: left center;
            transition: all 0.2s linear 0s;
        }

        &:hover {
            text-indent: 30px;

            &:before {
                transform: scale(1, 1);
                text-indent: 0;
            }
        }
    }
}

/*common for posts and comments*/

.card-element {
    max-width: 220px;
    display: flex;
    flex-direction: column;

    padding: 8px;

    background: rgba(255, 255, 255, 0.12);
    border-radius: 10px;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    p {
        font-weight: 400;
        font-size: 0.9rem;
    }
}

/* User details*/

#user-details-article {
    margin: 0 auto;
    min-width: 90vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    .card-element {
        justify-content: space-between;
    }
}

.all-users-link {
    align-self: end;
}


h2 {
    width: 200px;
}

#user-details-list {
    font-weight: 400;
    font-size: 1.1rem;
    width: 90%;

    li {
        padding: 4px 0;
    }
}

#show-user-posts-button {
    width: 90%;
}
/*User posts list*/

.user-posts-list {
    width: 100%;
    margin: 0.5rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 2vw;
    grid-row-gap: 3vh;
    @media screen and (max-width: 1200px) {
        grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (max-width: 992px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 600px) {
        grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 380px) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* Post details*/

#post-details-article {
    margin: 0 auto;
    min-width: 90vw;

    display: flex;
    flex-direction: column;
    align-items: center;

    a {
        align-self: end;
        margin: 10px;
    }

    h3, p {
        font-weight: 400;
    }

    #post-author {
        display: flex;
        align-items: center;
    }

    /*    Post comments*/

    section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 2vw;
        grid-row-gap: 3vh;
        @media screen and (max-width: 1000px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 500px) {
            grid-template-columns: repeat(1, 1fr);
        }

        p {
            padding: 5px;
            margin: 0;
        }
    }
}

